<h1>This is the home page</h1>
<p>how did you find this!?</p>


<p>
<a href ="#">Sign up now!!!</a>
<%= link_to "ESPN", "http://www.espn.com/"%>
</p>

<div class="footer">
	<small>
		<a href="#">stubbing it out</a>
	</small>

	</div>
